#Cabecera{

background: black;

}

body{
    background: blueviolet;
}

#Titulo{
    color:  white;
}

#Botonera{
    color: white;
}

#botones{
    color: white;
}


.px{
   

}